@model Employee

@{
    ViewBag.Title = Model is null ? "Create" : "Edit";
}

@*@{
    if(Model is null) 
        ViewData["Title"] = "Create";
    else
        ViewData["Title"] = "Edit";
}*@

<h2>@ViewBag.Title Employee</h2>

<form asp-action=@ViewBag.Title>

    <div asp-validation-summary="All"></div>

    <div class="col-lg-4">
    <label asp-for="EmployeeID" class="control-label"></label>
    <input asp-for="EmployeeID" class="form-control" readonly />
    </div>

    <div class="col-lg-4">
    <label asp-for="EmployeeNumber" class="control-label"></label>
    <input asp-for="EmployeeNumber" class="form-control" />
    </div>

    <div class="col-lg-4">
    <label asp-for="EmployeeName" class="control-label"></label>
    <input asp-for="EmployeeName" class="form-control" />
    </div>

    <div class="col-lg-4">
    <label asp-for="DOB" class="control-label"></label>
    <input asp-for="DOB" class="form-control" />
    </div>

    <div class="col-lg-4">
    <label asp-for="HiringDate" class="control-label"></label>
    <input asp-for="HiringDate" class="form-control" />
    </div>

    <div class="col-lg-4">
    <label asp-for="GrossSalary" class="control-label"></label>
    <input asp-for="GrossSalary" class="form-control" />
    </div>

    <div class="col-lg-4">
    <label asp-for="NetSalary" class="control-label"></label>
    <input asp-for="NetSalary" class="form-control" />
    </div>

    <div class="col-lg-4">
    <label asp-for="DepartmentId" class="control-label"></label>
    <select asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Department,"DepartmentID","DepartmentName"))" 
            class="form-control">
        <option value="">Select Department</option>
    </select>
    </div>
    <br />

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-primary">Cancel</a>

</form>
